.hero {
  height: 95vh;
  background-image: url(../../img/food-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  /* padding: 5rem; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.displayTitle {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  color: rgb(26, 212, 26);
}

.display {
  width: 50%;
  margin: auto;
  padding-top: 30vh;
  letter-spacing: .3rem;
  text-transform: capitalize;
  font-family: 'Rancho', sans-serif;
  text-shadow: 4px 3px 0 #7A7A7A;
}

.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 50%;
  border: none;
  padding: 10px;
}

.searchButton {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: 'Offside', sans-serif;
}



@media only screen and (max-width: 1200px) {
  .display {
    width: 60%;
    padding-top: 20vh;
  }
}

@media only screen and (max-width: 1000px) {
  .displayTitle {
    font-size: 3rem;
  }
  .display {
    width: 60%;
    padding-top: 20vh;
  }
}

@media only screen and (max-width: 600px) {
  .displayTitle {
    font-size: 2.5rem;
  }
  .display {
    width: 80%;
    padding-top: 20%;
  }
}

@media only screen and (max-width: 400px) {
  .displayTitle {
    font-size: 2.5rem;
  }
  .display {
    width: 80%;
    padding-top: 20%;
  }
  .searchForm {
    flex-direction: column;
  }
  .searchBar {
    width: 93%;
    margin: 1rem 0;
  }
  .searchButton {
    width:100%;
  }
}

