.alert {
  padding: 1rem;
  width: 60%;
  margin:0 auto;
  position: fixed;
  top: 4rem;
  left: 20%;
  background: rgb(49, 49, 49);
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Offside', sans-serif;

  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}